@use '../utilities' as *;

h1,
h2,
h3 {
  font-weight: 700;
  font-size: rem(18);
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}
